<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr/>
        {#unless category}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/unless}}
        {{#if category}}
            <div class = "table-responsive">
            <table class="table">
               <thead>
                    <tr>
                        <th><strong>Category ID</strong></th>
                        <th><strong>Cateogry Name</strong></th>
                    </tr>
               </thead>
               <tbody>
               {{#each category}}
                <tr>
                    <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
                    <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
                </tr>
               {{/each}}
               </tbody>
            </table>
            </div>
        {{/if}}
    </div>  
</div>
