
<div class="row">
    <div class="col-md-12">
        {{#unless post}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/unless}}
        <h2>Posts</h2>
        <hr/>
        {{#if post}}
            <div class = "table-responsive">
            <table class="table">
               <thead>
                    <tr>
                        <th><strong>Post ID</strong></th>
                        <th><strong>Title</strong></th>
                        <th><strong>Post Date</strong></th>
                        <th><strong>Category</strong></th>
                        <th><strong>Published</strong></th>
                    </tr>
               </thead>
               <tbody>
               {{#each post}}
                <tr>
                    <td>{{this.id}}</td>
                    <td><a href="/blog/{{this.id}}">{{this.title}}</a></td>
                    <td>{{this.postDate}}</td>
                    <td><a href="/posts?category={{this.category}}">{{this.category}}</a></td>
                    <td>{{this.published}}</td>
                </tr>
               {{/each}}
               </tbody>
            </table>
            </div>
        {{/if}}
    </div>  
</div>
